[submodule "lighthouse"]
	path = lighthouse
	url = git@github.com:gaasedelen/lighthouse.git
[submodule "diaphora"]
	path = diaphora
	url = git@github.com:joxeankoret/diaphora.git
[submodule "IDASkins"]
	path = IDASkins
	url = git@github.com:zyantific/IDASkins.git
